/* base and nav setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato Light';
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: 'Lato Heavy';
  src: url(../fonts/Lato-Medium.ttf);
}
body {
  font-size: 16px;
  font-family: 'lato light';
}
p,
li {
  font-size: 1em;
  line-height: 1.4rem;
  font-family: 'lato light';
}
header {
  height: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  border-bottom: 1px solid #fff;
}
.siteName h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.siteName p {
  font-size: 0.75rem;
  font-family: 'lato light';
  letter-spacing: 1px;
}
nav li,
.footerNav li {
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: 'lato light';
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #aaa;
}
a:active {
  border-top: 2px solid #fff;
}

/* specific page layout */

#homePage {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(1, fr);
  padding: 150px 5% 5%;
}
#aboutPage {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(2, fr);
  padding: 150px 5% 5%;
}
#portfolioPage {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(2, fr);
  padding: 150px 5% 5%;
}

/* column definitions */

.colOne {
  grid-column: 1/2;
  grid-row: 1/2;
}
#homePage .colOne img,
#aboutPage .colOne img {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
}
#aboutPage .colOne img {
  max-width: 350px;
}

.colTwo {
  grid-column: 2/3;
  grid-row: 1/2;
}
#homePage .colTwo {
  max-width: 650px;
  justify-self: flex-start;
}
.colThree {
  grid-column: 3/4;
  grid-row: 1/2;
}
#aboutPage .colTwo {
  grid-column: 2/4;
}
#aboutPage .colTwo.row2 {
  grid-column: 2/3;
}
/* way to maintain column definitions, but switch row */
.row2 {
  grid-row: 2/3;
}
.row3 {
  grid-row: 3/4;
}
.colOne,
.colTwo,
.colThree {
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}
#aboutPage .colOne,
#aboutPage .colTwo,
#aboutPage .colThree,
#portfolioPage .colOne,
#portfolioPage .colTwo,
#portfolioPage .colThree {
  align-self: start;
}
.colOne.row {
  padding: 0 20%;
}
.colTwo h1 {
  font-family: 'lato heavy';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 0.35rem;
}
.colTwo h4 {
  font-family: lato;
  text-transform: uppercase;
}

#aboutPage .colTwo p:nth-of-type(1),
#portfolioPage p:nth-of-type(1) {
  max-width: 600px;
  margin: 1.5rem auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.colTwo a {
  display: flex;
  align-self: end;
}
.colTwo a i {
  margin-top: 0.5rem;
  font-size: 1.65rem;
}

/* containers */
.skills,
.education {
  margin: 0 15%;
}

/* text styles about page */
#homePage p {
  margin-top: 1.25rem;
}
#homePage h4 {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-family: 'lato light';
  font-size: 1.25rem;
}
.skills h3,
.education h3,
.experience h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #fff;
}
.education h4,
.skills h4,
.experience h4 {
  font-family: lato;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}
.experience h4 {
  margin-top: 1.25rem;
}
.experience h5 {
  font-size: 0.9rem;
}
.experience ul {
  margin-top: 1rem;
  text-indent: -20px;
  margin-left: 20px;
}
.experience ul li {
  list-style-position: inside;
  margin-inline-start: 0px;
  letter-spacing: 1px;
}

.skills ul li {
  display: inline-block;
  list-style: none;
  letter-spacing: 1px;
}
.skills ul li::after {
  content: '|';
  padding: 0.5rem;
  text-align: center;
}
.education {
  margin-top: 1.5rem;
}
.education summary {
  margin-bottom: 1rem;
}
.education summary p {
  letter-spacing: 0.5px;
}

/* portfolio page */
#portfolioPage img {
  display: block;
  clear: both;
  width: 70%;
  border: 1px solid #fff;
  margin: 10px 15%;
}
#portfolioPage .title {
  grid-row: 1/2;
  grid-column: 1/3;
  color: #fff;
}
#portfolioPage .colOne,
#portfolioPage .colTwo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-row: 2 / 3;
}
#portfolioPage .description {
  align-self: flex-start;
  width: 35%;
}
#portfolioPage .screenshot {
  align-self: flex-start;
  width: 60%;
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  border-top: 1px solid #fff;
}
footer h4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
footer p {
  font-size: 0.95rem;
  font-family: 'lato light';
}
